.button {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  padding: 2%;
  background-color: rgb(202, 202, 202);
}

.detail {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-right: 10px;
}
.detail:hover,
.description:hover {
  /* text-decoration-line: underline; */
  /*border: 2px grey solid;*/
  background-color: grey;
  border-radius: 5px;
  cursor: pointer;
}

.detailTitle {
  font-weight: bold;
  margin-right: 7px;
  margin-left: 10px;
}

.description {
  padding: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid blue;
  text-align: justify;
  background-color: rgb(202, 202, 202);
  overflow: auto;
}
